.book-cell {
    position: relative;
    display: flex;
    padding: 25px;
    width: 40%;
    height: 250px;
    margin-right: 1px;
    border:1px solid black
   }

.book-photo {
    width: 180px;
    flex-shrink: 0;
    bottom: -35px;
    left: 35px;
    border-radius: 2px;
    box-shadow: -2px 6px 19px 0px #7f818e;
    transition: .3s ease;
   }
.book-photo:hover{
    transform: scale(1.03);
}
.book-img {
    flex-shrink: 0;
   }

.book-title {
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}

.book-title {
color: #ffffff;
font-weight: 600;
}

.book-author {
margin-top: 3px;
font-size: 14px;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}
.book-voters {
color: #fff;
vertical-align: sub;
font-size: 13px;
margin-left: 7px;
white-space: nowrap;
margin-top: 7px;
}

.book-sum {
margin-top: 20px;
font-size: 14px;
overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}

.book-see {
margin-top: 25px;
text-align: center;
background-color: #fff;
color: #fbadaf;
font-weight: 600;
padding: 8px;
font-size: 14px;
width: 160px;
border-radius: 20px;
}